<router-outlet></router-outlet>
<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [clr-nav-level]="2"
  class="nav-trigger--bottom"
  cdkDropList
  [cdkDropListData]="Employee"
  (cdkDropListDropped)="drop($event)"
>
  <a clrVerticalNavLink routerLink="./search" routerLinkActive="active">
    <clr-icon shape="plus"></clr-icon> Search Data Source</a
  >
  <a
    cdkDrag
    clrVerticalNavLink
     [routerLink]="' ' + empleado.url"
    routerLinkActive="active"
    target="_blank"
    class="movable enemyLine"
    *ngFor="let empleado of Employee"
  >
    <clr-icon [attr.shape]="empleado.shape"></clr-icon>

    {{ empleado.name }}
    <!-- <span class="badge badge-info" *ngIf="en.bonusCount > 0">{{
      en.bonusCount
    }}</span> -->
    
    <span *ngIf="empleado.baseMining > 0" class="badge badge-info">{{
      empleado.baseMining
    }}</span>
    <span *ngIf="empleado.baseCrystal > 0" class="badge badge-success">{{
      empleado.baseCrystal
    }}</span>
    <span *ngIf="empleado.baseHabitable > 0" class="badge badge-warning">{{
      empleado.baseHabitable
    }}</span>
    <span *ngIf="empleado.baseRobot > 0" class="badge badge-danger">{{
      empleado.baseRobot
    }}</span>

    <span class="level">
      {{ empleado.level }}
    </span>
  </a>
</clr-vertical-nav>

<!-- [ngStyle]="{ 'background-color': os.dark ? '#324f61' : '#324f61' }" -->
