<h1>
  <clr-icon
    [attr.shape]="unoempleado.shape"
    *ngIf="unoempleado?.shape"
    size="48"
    class="resIcon"
  ></clr-icon>
  {{ unoempleado?.name }}
</h1>
<div *ngIf="unoempleado" class="clr-row">
  <div class="clr-col-6">
    <p>
      Level: {{ unoempleado.level }}
      <br />
      Fleet Power:
      <app-formatted-quantity
        [quantity]="unoempleado.level"
      ></app-formatted-quantity>
    </p>
    <p>
      <span class="label label-info"
        >Metal District
        {{ unoempleado.baseMining }}
      </span>
      <span class="label label-success"
        >Crystal District {{ unoempleado.baseCrystal }}</span
      >
      <span class="label label-warning"
        >Habitable Space {{ unoempleado.baseHabitable }}</span
      >
      <span class="label label-danger">Robot c. {{ unoempleado.baseRobot }}</span>
    </p>
    <br />
    <div class="btn-group btn-primary">
      <button
        class="btn btn-success"
        (click)="attack()"
      >
        Attrackon
      </button>
      <button class="btn" (click)="move(-1)">Move Up</button>
      <button class="btn" (click)="move(1)">Move Down</button>
      <button class="btn btn-danger" (click)="deleteModal = true">
        Delete
      </button>
    </div>
    <br />
    <br />
  </div>
  <div class="clr-col-6">
    <h4>Ships:</h4>
    <app-fleet-table [fleet]="unoempleado.level"></app-fleet-table>
  </div>
</div>

<!-- Delete enemy modal -->
<clr-modal [(clrModalOpen)]="deleteModal">
  <h3 class="modal-title">Delete {{ unoempleado?.name }}</h3>
  <div class="modal-body">
    <p>This cannot be undone</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteModal = false">
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="delete()">
      Delete
    </button>
  </div>
</clr-modal>
